PATH=/Users/francescapanteli/Desktop/CodingNomads-python-201/labs/resources/05_venvs-and-packages/05_labs/virtual_environment_for_05_04/bin:/opt/anaconda3/bin:/opt/anaconda3/condabin:/Library/Frameworks/Python.framework/Versions/3.13/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/usr/local/share/dotnet:~/.dotnet/tools:/Users/francescapanteli/.cargo/bin
__CFBundleIdentifier=com.jetbrains.pycharm
SHELL=/bin/zsh
FIG_TERM=1
TERM=xterm-256color
USER=francescapanteli
PROCESS_LAUNCHED_BY_Q=1
COMMAND_MODE=unix2003
PATH=/Users/francescapanteli/Desktop/CodingNomads-python-201/labs/resources/05_venvs-and-packages/05_labs/virtual_environment_for_05_04/bin:/opt/anaconda3/bin:/opt/anaconda3/condabin:/Library/Frameworks/Python.framework/Versions/3.13/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/usr/local/share/dotnet:~/.dotnet/tools:/Users/francescapanteli/.cargo/bin
__CFBundleIdentifier=com.jetbrains.pycharm
SHELL=/bin/zsh
FIG_TERM=1
TERM=xterm-256color
USER=francescapanteli
PROCESS_LAUNCHED_BY_Q=1
COMMAND_MODE=unix2003
TMPDIR=/var/folders/w6/2xrd0ngj7qxbht8_scynv14r0000gn/T/
TERMINAL_EMULATOR=JetBrains-JediTerm
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.2BQfDIu0Le/Listeners
PROCESS_LAUNCHED_BY_CW=1
XPC_FLAGS=0x0
TERM_SESSION_ID=d3649d91-ca2c-4709-9f0b-9d63a1c1c95a
__CF_USER_TEXT_ENCODING=0x1F5:0:2
LOGNAME=francescapanteli
LC_CTYPE=UTF-8
XPC_SERVICE_NAME=0
HOME=/Users/francescapanteli
SHLVL=1
PWD=/Users/francescapanteli/Desktop/CodingNomads-python-201/labs/resources/05_venvs-and-packages/05_labs/virtual_environment_for_05_04
OLDPWD=/Users/francescapanteli/Desktop/CodingNomads-python-201/labs/resources/05_venvs-and-packages/05_labs/virtual_environment_for_05_04
HOMEBREW_PREFIX=/opt/homebrew
HOMEBREW_CELLAR=/opt/homebrew/Cellar
HOMEBREW_REPOSITORY=/opt/homebrew
INFOPATH=/opt/homebrew/share/info:
CONDA_EXE=/opt/anaconda3/bin/conda
_CE_M=
_CE_CONDA=
CONDA_PYTHON_EXE=/opt/anaconda3/bin/python
CONDA_SHLVL=1
CONDA_PREFIX=/opt/anaconda3
CONDA_DEFAULT_ENV=base
CONDA_PROMPT_MODIFIER=(base)
GSETTINGS_SCHEMA_DIR_CONDA_BACKUP=
GSETTINGS_SCHEMA_DIR=/opt/anaconda3/share/glib-2.0/schemas
PS1=(virtual_environment_for_05_04) (base) %n@%m %1~ %#
ENVIRONMENT=development
SECRET=i ate your sweets
VIRTUAL_ENV=/Users/francescapanteli/Desktop/CodingNomads-python-201/labs/resources/05_venvs-and-packages/05_labs/virtual_environment_for_05_04
VIRTUAL_ENV_PROMPT=(virtual_environment_for_05_04)
_=/usr/bin/printenv